﻿body {
    background-color: #88a07c;
}
h2 {
    text-align: center
}
p { 
    text-align:center
}
ul {
    text-align:center;
    list-style-position:inside;
}
ol {
    text-align: center;
    list-style-position: inside;
}
li{
    text-align:center;
}
h4{
    text-align:center;
}
